
<div class="card" *ngIf="items">
    <div class="card-body">
        <h5 class="card-title">{{items.first_name+' '+items.last_name}}</h5>
        <button class="btn" style="background-color: lightgrey;">{{items.state}}</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="probability status 100%.">
            {{items.probability_status}}
        </button>
        <div class="details">
            <i class="fa-sharp fa-solid fa-phone">{{items.company}}</i>
            <i class="phone"> {{items.phone}}</i>
            <i class="fa-regular fa-calendar">{{items.date}}</i>
        </div>
    </div>
</div>