<div class="card" *ngIf="item">
    <div class="card-body">
        <h5 class="card-title">{{item.first_name+' '+item.last_name}}</h5>
        <button class="btn" style="background-color: lightgrey;"> Returning </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="probability status 100%.">
            100%
        </button>
        <div class="details">
            <i class="fa-sharp fa-solid fa-phone">jeremiah Schneider</i>
            <i class="phone"> 477 54 788</i>
            <i class="fa-regular fa-calendar">05.06.2018</i>
        </div>
    </div>
</div>
