<div class="container-fluid">

    <nav class="navbar navbar-expand-md bg-white">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="../../assets/images/logo.jpeg" alt="Logo" width="50" height="50" class="me-2">
            <h4 class="m-0">No-Shipping 2019</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://via.placeholder.com/50x50" alt="Profile picture" class="rounded-circle me-2"
                            width="30" height="30">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown">Settings</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown">My Team</a></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="dropdown">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <hr style="margin: 0px; border: 0.5px solid darkgray;">

    <header class="nav" style="padding: 10px;">
        <a class="nav-2 nav-link" style="margin-left: 6rem;" href="#">Exhibitors</a>
        <a class="nav-2 nav-link" href="#">Sales</a>
        <a class="nav-2 nav-link" href="#">Program</a>
        <a class="nav-2 nav-link" href="#">Delegates</a>
        <a class="nav-2 nav-link" href="#">Settings</a>
    </header>

    <nav class="nav" style="background-color: lightgray; padding: 7px;">
        <a class="nav-3 nav-link" style="margin-left: 6rem;" href="#">Deals</a>
        <a class="nav-3 nav-link" href="#">Activities</a>
        <a class="nav-3 nav-link" href="#">Statistics</a>
    </nav>

</div>