<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <h2 style="font-weight: 900;">Nor-Shipping 2019</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <span class="span-line"></span>
                    <li class="name-li nav-item">
                        <p class="num-name">DEALS</p>
                        <p class="num">43</p>
                    </li>
                    <span class="span-line" style="background-color: purple;"></span>
                    <li class="name-li nav-item">
                        <p class="num-name">TOTAL VALUE [NDK]</p>
                        <p class="num">4.19 mln</p>
                    </li>
                    <span class="span-line" style="background-color: rgb(3, 161, 235);"></span>
                    <li class="name-li nav-item">
                        <p class="num-name">HIT RATE</p>
                        <p class="num">10%</p>
                    </li>
                    <span class="span-line" style="background-color: green;"></span>
                    <li class="name-li nav-item">
                        <p class="num-name">DEALS WON</p>
                        <p class="num">12/65</p>
                    </li>
                    <span class="span-line" style="background-color: orangered;"></span>
                    <li class="name-li nav-item">
                        <p class="num-name">NEW CLIENTS</p>
                        <p class="num">8/12</p>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../assets/images/logo.jpeg" alt="Profile picture" class="rounded-circle me-2"
                                width="30" height="30">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <hr style="margin: 0px; border: 0.5px solid darkgray;">



    <header class="nav" style="padding: 10px;">
        <div class="container">
            <ul class="header-ul">
                <li>
                    <a class="nav-2" href="#">Exhibitors</a>
                </li>
                <li>
                    <a class="nav-2" href="#">Sales</a>
                </li>
                <li>
                    <a class="nav-2" href="#">Program</a>
                </li>
                <li>
                    <a class="nav-2" href="#">Delegates</a>
                </li>
                <li>
                    <a class="nav-2" href="#">Settings</a>
                </li>
            </ul>
        </div>
    </header>




    <nav class="nav" style="background-color: #F8F9FA;  padding: 7px; margin-bottom: 3rem;">
        <div class="container">
            <ul class="last-ul">
                <li>
                    <a class="nav-3" href="#">Deals</a>
                </li>
                <li>
                    <a class="nav-3" href="#">Activities</a>
                </li>
                <li>
                    <a class="nav-3" href="#">Statistics</a>
                </li>
            </ul>
        </div>
    </nav>


</div>