<!-- <div class="container-fluid">
    <nav class="nav" style="background-color: #F8F9FA;  padding: 7px; margin-bottom: 3rem;">
        <div class="container">
            <ul class="last-ul">
                <li>
                    <a class="nav-3" routerLink="">Deals</a>
                </li>
                <li>
                    <a class="nav-3" routerLink="">Activities</a>
                </li>
                <li>
                    <a class="nav-3" routerLink="">Statistics</a>
                </li>
            </ul>
        </div>
    </nav>
</div> -->